html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: rgb(233, 213, 122);
    font-family: 'Garamond', serif;
    height: 100%;
}

.container.recipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    justify-content: flex-start;

}

.container,
.center {
    align-items: left;
    justify-content: left;
    display: inline-block;
    margin: 3px;
    padding: 50px;
    height: 100%;
}

.container.left {
    background-color: rgb(101, 67, 33);
    color: rgb(245, 239, 221);
    align-items: left;
    justify-content: left;
    display: inline-block;
    margin: 3px;
    padding: 50px;
    height: 100%;
}

.left {
    color: rgb(230, 170, 120);
}

.left a {
    color: inherit;
}

h1 {
   font-weight: 900;
   font-size: 50px;
}

.title {
    color: rgb(139, 102, 23);
}

.center li {
   display: inline-block;
   padding: 10px;
}

a {
    color: rgb(90, 52, 2);
    font-weight: 700;
}
